<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
    <add key="debug" value="true" />
    <add key="connectivityMode" value="AutoDetect" />
    <add key="selectedEntities" value="Queues,Topics,Relays,Event Hubs,Notification Hubs" />
    <add key="encoding" value="UTF8" />
    <add key="showMessageCount" value="true" />
    <add key="saveMessageToFile" value="true" />
    <add key="savePropertiesToFile" value="true" />
    <add key="saveCheckpointsToFile" value="true" />
    <add key="scheme" value="sb" />
    <add key="message" value="&lt;message&gt;Hi mate, how are you?&lt;/message&gt;" />
    <add key="file" value="" />
    <add key="label" value="Service Bus Explorer" />
    <add key="retryCount" value="10" />
    <add key="retryTimeout" value="100" />
    <add key="top" value="10" />
    <add key="receiveTimeout" value="1" />
    <add key="serverTimeout" value="5" />
    <add key="prefetchCount" value="0" />
    <add key="senderThinkTime" value="500" />
    <add key="receiverThinkTime" value="500" />
    <add key="monitorRefreshInterval" value="30" />
    <add key="useAscii" value="true" />
    <add key="subscriptionId" value="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" />
    <add key="certificateThumbprint" value="4AEA75244040D33F6E51ACD64594CB0727302507" />
    <add key="messageDeferProvider" value="Microsoft.Azure.ServiceBusExplorer.InMemoryMessageDeferProvider,ServiceBusExplorer" />
    <add key="Microsoft.ServiceBus.X509RevocationMode" value="NoCheck" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
